/*
    Created on : May 19, 2015, 7:38:15 PM
    Author     : charles
*/

body {
  padding-top: 75px;
}

.img-circle {
  max-width: 140px;
  max-height: 140px;
}

.centered {
  width: 600px;
}

.perfil {
  width: 50%;
}

.thumbnail {
  border-style: none;
  background-color: transparent;
}

.caption {
  background-color: white;
  border-radius: 30px;
}

.jumbotron p {
  margin: 0;
}

#consulta-relativa {
  margin: 15px 0;
}

.alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table {
  margin-bottom: 0;
}

#selectList {
  border: 0;
  border-radius: 6px;
  box-shadow: none;
}

#selectList2 {
  border: 0;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: none;
}

#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}